.featured {
    height: 10vh;
    position: relative;
}

.category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}

select {
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    padding: 5px;
    font-size: 25px;
}